<div>

        {{#each comments as | comment | }}
            <div class="card all-cards">
                <div class="card-body">
                    {{comment.comment}}
                </div>
                  <div class="card-footer justify-content-between">
                        <div class="col-6">
                        {{comment.createdAt}}
                        </div>
                        <div class="col-6">
                            Comment By: {{comment.username}}
                        </div>
                    </div>
            </div>
        {{/each}}

</div>