{{!-- render all comments --}}
<div>
    {{#each comments as | comment | }}
    <div class="card all-cards">
        <div class="card-header col-12">
            User: {{comment.username}}
        </div>
        <div class="card-body">
            {{comment.comment}}
        </div>
        <div class="card-footer justify-content-between">
            <div class="col-6">
                Posted: {{comment.createdAt}}
            </div>
        </div>
    </div>
    {{/each}}
</div>