<h1 class="all-cards">-New Post-</h1>
<div class="card all-cards">
  <form class="post-tech">
    <div class="card-header">
      Write about Tech below! You can edit your posts and create new posts here at your dashboard.
    </div>
    <div>
      <div class="form-group">
        <input type="input" class="form-control" id="blog-title" placeholder="Tech Title">
      </div>
      <div class="form-group">
        <input type="input" class="form-control" id="blog-content" rows="3" placeholder="Your take on tech..."></input>
      </div>
      <button class="btn btn-primary" type="submit">Post New Topic</button>
    </div>
  </form>
</div>

{{> post}}

<script src="./js/post.js"></script>