<div class="card">
  <div class="card-header">
    UserName
  </div>
  <div class="card-body">
    <h5 class="card-title">Title of Tech News Blog</h5>
    <div>
        89
    </div>
    <div>
            <p class="card-text col-10">With supporting text below as a natural lead-in to additional content. 
                This is essentially where the text that contains there blog peice will render. 
            </p>
            <button type="button" class="btn col-1 btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Upvote
            </button>
            <button type="button" class="btn col-1 btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Downvote
            </button>
    </div>
    <br>
    <a href="#" class="btn btn-primary">Leave Comment</a>