/* minimal styling created here for the tech blog website - most styling coming from boostrap*/
.all-cards {
    margin: .5em 3em;
}

.landing-forms {
    margin: 0 auto;
}

.page-title {
    margin-left: 14px;
}

.view-post {
    text-align: center;
}